/*Responsive*/

@media (max-width: 1550px) {

  .board-management-content {
    width: 1100px;
  }
}

@media (max-width: 1450px) {

  .board-management-content {
    width: 1000px;
  }
}

@media (max-width: 1350px) {

  main {
    width: 100vw  !important;
  }

  .d-none-mobile {
    display: none  !important;
  }

  .logo-mobile {
    display: flex  !important;
    width: 32px  !important;
    height: 39px  !important;
  }

  header {
    height: 10vh  !important;
    padding: 0 clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem) 0 clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem)  !important;
  }

  .header-dropdown-menu {
    top: 80px  !important;
    right: 0  !important;
  }

  .d-none-mobile {
    display: none  !important;
  }

  .container-sidebar {
    display: flex !important;
    width: 100vw !important;
    height: 10vh !important;
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    justify-content: center !important;
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1) !important;
    z-index: 100 !important;
  }

  nav {
    display: flex  !important;
    flex-direction: row  !important;
    justify-content: space-between  !important;
    width: clamp(min(98vw, 20rem), 95vw, max(90vw, 55rem))  !important;
    margin: 0  !important;
    gap: clamp(0rem, 0rem + 0.8889vw, 0.5rem)  !important;
    height: 100%  !important;
  }

  nav a {
    text-align: center  !important;
    display: flex  !important;
    flex-direction: column  !important;
    align-items: center  !important;
    justify-content: center  !important;
    text-decoration: none  !important;
    color: var(--lightgrey)  !important;
    gap: 4px  !important;
    padding: 0 12px  !important;
    border-radius: 8px  !important;
    font-size: 14px  !important;
    width: 90px  !important;
  }

  nav a img {
    width: 24px  !important;
  }

  .board-management-content {
    width: 100%  !important;
  }

  .add-task-top {
    gap: 0 !important;
    height: 600px  !important;
  }

  .add-task-board {
    background-color: #f7f8f9;
  }

  .add-task-bottom {
    padding-left: 0 !important;
  }

  .add-task-button-responsive {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    width: 20px;
    height: 36px;
    font-size: 21px;
    transition: background-color 0.1s;
  }

  .add-task-board {
    display: none;
  }

  .add-task-button-responsive:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0 rgba(17, 3, 3, 0.24);
  }

  .add-task-button {
    display: none;
  }

  .add-task-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }


  .board-header {
    position: relative;
    height: 250px;
  }

  .search-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
  }

  .board-content {
    height: 100%;
  }


  .board-section {
    height: 80vh;
  }

  .inner-management-content {
    width: 100%;
  }

  #new-task,
  #no-task-to-do,
  #no-task-in-progress,
  #no-task-await,
  #no-task-done {
    width: 99%;
  }

  #new-task-to-do,
  #new-task-in-progress,
  #new-task-await,
  #new-task-done {
    min-height: 10vh;
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  .card {
    width: 275px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    padding: 20px;
  }

  .board-content {
    padding: 0 72px 0 72px;
    width: 100%;
    height: 90%;
    margin: 0;
    overflow-x: hidden;
  }

  .card-user-content {
    position: absolute;
    bottom: 15px;
    width: 85%;
  }
}

@media(max-width: 850px) {

  .board-content {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
  }

  .board-header {
    position: relative;
    height: 250px;
  }

  .search-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
  }

  .border-management-content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .inner-management-content {
    width: 100%;
  }

  #new-task-to-do,
  #new-task-in-progress,
  #new-task-await,
  #new-task-done {
    min-height: 10vh;
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  .card {
    width: 275px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    padding: 20px;
  }

  #add-task {
    width: 500px;
    padding: 30px;
  }

  .show-task {
    top: 50%;
  }

  .add-task-bottom {
    bottom: 0 !important;
  }

  .add-task-board {
    top: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .card-menu {
    display: block;
  }

  .show-line-content-cardmenu {
    display: block;
  }
}

@media(max-width:550px) {

  .prio-buttons button {
    font-size: 16px !important;
  }

  .board-content {
    padding: 0 12px 0 12px;
  }

  .show-task {
    width: 300px;
    padding: 30px 25px 30px 20px;
  }

  #add-task-edit {
    width: 350px !important;
  }

  .input-edit {
    width: 310px;
  }

  .input-edit-subtask {
    width: 302px;
  }

  .input-container-edit,
  .input-section-element,
  .input-section-left-edit,
  .input-section-element-edit {
    width: 335px !important;
  }

  .save-button {
    height: 45px !important;
    width: 70px !important;
  }

  .prio-buttons {
    gap: 0px !important;
  }

  .add-task-edit-top {
    overflow-x: none !important;
  }

  .prio-buttons button {
    width: 28% !important;
  }

  .show-card-title {
    font-size: 41px;
    width: 330px;
  }

  .show-card-description {
    font-size: 14px;
  }

  .user-task-content-show {
    padding: 8px;
  }

  #user-show-name {
    gap: 22px;
  }

  .subtask-show-text {
    font-size: 14px;
  }

}


@media(max-width:408px) {

  h1 {
    font-size: 41px;
  }

  #search-input {
    font-size: 16px;
  }

  .add-task-button-responsive {
    height: 20px;
    width: 20px;
    padding: 10px;
  }

  .card {
    width: 220px;
    padding: 15px;
  }

  .progress-bar-content {
    gap: 5px;
  }

  progress {
    width: 140px;
  }

  .progress-bar-content p {
    font-size: 12px;
  }

  .card-category-title {
    width: 80px;
    font-size: 12px;
  }

  .card-title {
    width: 180px;
    font-size: 14px;
  }

  .card-description {
    width: 180px;
    font-size: 14px;
  }

  .user-task-content {
    padding: 7px;
  }

  .show-task {
    width: 270px;
    height: 540px;
    padding: 30px 25px 30px 20px;
  }

  .show-card-title {
    font-size: 37px;
    width: 300px;
  }

  .show-card-description {
    font-size: 13px;
    width: 280px;
  }

  .user-task-content-show {
    padding: 6px;
  }

  #user-show-name {
    gap: 19px;
  }

  .blue {
    width: 90px;
  }

  .card-user-content {
    position: absolute;
    bottom: 15px;
    width: 85%;
  }
}

@media(max-width:400px) {

  #add-task-edit {
    width: 300px !important;
    height: 500px;
  }

  .input-edit {
    width: 260px;
    font-size: 15px !important;
  }

  .input-edit-subtask {
    width: 250px;
  }

  .input-container-edit,
  .input-section-element,
  .input-section-left-edit,
  .input-section-element-edit {
    width: 285px !important;
  }

  .prio-buttons {
    flex-direction: row !important;
  }

  .prio-buttons button {
    width: 33% !important;
  }

  .subtask-show-text {
    font-size: 12px;
  }

  input[type="checkbox"]::before {
    width: 10px;
    height: 10px;
    font-size: 16px;
  }
}