@media (max-width: 1300px) {
    .popUp {
        width: 70vw;
    }
}

@media (max-width: 1160px) {
    .contacts {
        width: 40%;
    }

    .contact_button {
        gap: 12px;
    }

    .popUp {
        width: 80vw;
        height: 55vh;

    }

    h4 {
        font-size: 28px;
    }

    h2 {
        font-size: 36px;
    }



    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 270px;
    }

    .form input {
        width: 280px;
    }
}

@media (max-width: 1025px) {
    .contacts {
        width: 100%;
    }

    .text {
        gap: 24px;
    }

    .layout-wrapper {
        height: 80vh;
    }
}

@media (max-width: 1000px) {
    .popUp {
        width: 90vw;
        height: 54vh;

    }


    .bg-popUp {
        padding-left: 0;
    }
}

@media (max-width: 900px) {
    .letter_For_PopUp {
        width: 94px;
        height: 94px;
        font-size: 32px;
    }

}

@media (max-width: 800px) {

    /* CSS for sliding in from the bottom */
    @keyframes slideIn {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }

    /* CSS for sliding out to the bottom */
    @keyframes slideOut {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(100%);
        }
    }

    .edit-delete {
        display: none;
    }

    .single-letter {
        height: 80px;
        width: 80px;
        font-size: 32px;
    }

    .contact-profile {
        gap: 48px;

    }

    #cancelButton {
        display: none;
    }

    .dNone {
        display: none;
    }

    .position-fixed {
        position: fixed;
        top: 12vh;
    }

    .popUp {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 32px;
    }

    .popUp-logo {
        width: 100%;
        height: 40%;
        justify-content: flex-start;
        padding-top: 12px;
        gap: 40px;
    }

    .logo-box {
        display: none;
    }

    .popUp-content {
        height: 60%;
        width: 100%;
    }

    .pic_inputs {

        flex-direction: column;
    }

    .close-button {
        display: none;
    }

    .pic_inputs {
        justify-content: flex-start;
        gap: 4px;
        height: 100%;
        margin-top: -60px;
    }

    .profile-pic {
        height: 180px;
        width: 180px;
    }

    .return-mobilePopUp img {
        height: 32px;
        width: 32px;
    }

    .text {
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }

    .h2-span span {
        border-bottom: solid 2px rgb(41, 171, 226);
        padding-bottom: 12px;
    }

    h2 {
        margin: 0;
        padding-top: 12px;
        border: none;
    }

    .closeMobile {
        height: 48px;
        width: 48px;
    }

    .letter_For_PopUp {
        margin-bottom: 48px;
    }

    .edit-logo-box {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 0 0 12px;
    }

    .edit-logo {
        width: 347px;
        height: auto;
    }

    .edit_hoverr:hover {
        cursor: pointer;
        content: url('/contact-assets/img/edit_hover.png');
    }

    .delete_hoverr:hover {
        cursor: pointer;
        content: url('/contact-assets/img/delete_hover.png');
    }

    .edit_contact {
        z-index: 9;
        display: block !important;
        position: fixed;
        bottom: 96px;
        right: 15px;

        display: flex;
        justify-content: end;

        img {
            height: 80px;
            margin-right: 10px;
        }
    }

    .hoverr:hover {
        cursor: pointer;
        content: url('/contact-assets/img/edit_contact_hover.png');
    }

    .miniReg {
        position: absolute;
        width: 116px;
        height: 100px;
        bottom: 0;
        right: -116px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        transition: right 0.3s ease;
        transition: transform 0.3s ease;
        /* Smooth transition for sliding effect */
        transform: translateX(100%);
        /* Start position off-screen */

        img {
            height: 45px !important;
        }
    }

    .miniReg.show {
        right: 15px;
        display: block;
        /* Show the menu */
        transform: translateX(0);
        /* Slide in the menu */
    }

}

@media (max-width:500px) {
    .edit-logo {
        width: 290px;
    }
}

@media (max-width: 450px) {
    .contact-profile {
        gap: 24px;
        font-size: smaller;
    }
}

@media (max-width: 365px) {
    .content-section {
        font-size: smaller;
    }

    .detailed_Content {
        padding: 12px 0 12px 0;
    }

    .edit-logo {
        width: 260px;
    }

    .edit-logo-box {
        padding: 0;
    }

    .form input {
        width: 260px;
    }
}

@media (max-width: 350px) {
    .contactCard {
        font-size: smaller;
    }

    .contact-profile {
        gap: 12px;
    }
}

.returnToContacts {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 24px 0px 24px 12px;
}

.closeMobile {
    object-fit: cover;
}

.closeMobile:hover {
    cursor: pointer;
}

.return-mobilePopUp img:hover {
    cursor: pointer;
}

.stretch {
    width: 100vw;
    padding: 0 !important;
}

.mobileAddContactBtn {
    position: fixed;
    bottom: 12vh;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.mobileAddContactBtn img {
    object-fit: cover;
    height: 72px;
    width: 72px;
}

.mobileAddContactBtn img:hover {
    cursor: pointer;
}

.mobileEditBtn {
    position: fixed;
    bottom: 12vh;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.mobileEditBtn img {
    object-fit: cover;
    height: 72px;
    width: 72px;
}

.mobileEditBtn img:hover {
    cursor: pointer;
}