@media (max-width: 1980px) {
    .bg-popUp {
        padding-left: 16vw;
    }
}

@media (max-width: 1160px) {
    .contacts {
        width: 40%;
    }

    .contact_button {
        gap: 12px;
    }

    .popUp {
        width: 70vw;
        height: 65vh;

    }

    h4 {
        font-size: 28px;
    }

    h2 {
        font-size: 36px;
    }

    .bg-popUp {
        padding-left: 16vw;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 320px
    }

    .form input {
        width: 280px;
    }
}

@media (max-width: 1000px) {
    .popUp {
        width: 90vw;
        height: 80vh;

    }


    .bg-popUp {
        padding-left: 0;
    }
}

@media (max-width: 800px) {
    .dNone {
        display: none;
    }

    .contacts {
        width: 100%;
    }

    .position-fixed {
        position: fixed;
        top: 12vh;
    }

    .popUp {
        flex-direction: column;
    }

    .popUp-logo {
        width: 100%;
        height: 40%;
        justify-content: flex-start;
        padding-top: 12px;
    }

    .logo-box {
        display: none;
    }

    .popUp-content {
        height: 60%;
        width: 100%;
    }

    .pic_inputs {

        flex-direction: column;
    }

    .close-button {
        display: none;
    }

    .pic_inputs {
        justify-content: flex-start;
        gap: 80px;
        margin-top: -60px;
    }

    .profile-pic {
        height: 180px;
        width: 180px;
    }

}

@media (max-width: 600px) {
    .popUp {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .pic_inputs {
        gap: 4px;
        height: 100%;
    }

    .return-mobilePopUp img {
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 350px) {
    .contactCard {
        font-size: smaller;
    }
}

.returnToContacts {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 24px 0px 24px 12px;
}

.closeMobile {
    object-fit: cover;
}

.closeMobile:hover {
    cursor: pointer;
}

.return-mobilePopUp img:hover {
    cursor: pointer;
}