<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <!--Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/img/logo_coloured.svg"
    />
    <!--Stylesheets-->
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/font.css" />
    <meta charset="UTF-8" />
    <script src="./js/w3include.js"></script>
  </head>

  <body>
    <header>
      <div class="logo-cont">
        <img src="../../assets/img/logo.svg" alt="" />
      </div>
      <div class="sidebar">
        <a href="../../summary.html" class="sidebarbutton summary-btn">
          <div><img src="/assets/img/icon_summary.svg" alt="" />Summary</div>
        </a>
        <a href="../../add_task.html" class="sidebarbutton addtask-btn">
          <div><img src="/assets/img/icon_addTask.svg"">Add Task</div>
        </a>
        <a href="../../board.html" class="sidebarbutton board-btn">
          <div><img src="/assets/img/icon_board.svg" alt="" />Board</div>
        </a>
        <a href="../../contacts.html" class="sidebarbutton contacts-btn">
          <div><img src="/assets/img/icon_contacts.svg" alt="" />Contacts</div>
        </a>
      </div>
      <div class="rights-cont">
        <a href="" class="rights-links privacy-btn" id="">
          <div>Privacy Policy</div>
        </a>
        <a href="" class="rights-links legal-notice-btn" id="">
          <div>Legal notice</div>
        </a>
      </div>
    </header>
    <div class="head-top">

      <span class="head-top-headline">Kanban Project Management Tool</span>
      <div class="head-top-right-side-cont">
          <div class="info-img-container" 
              <img src="../img/icon_help.svg" alt=""">
          </div>
  
          <div class="profil-loged-in-init">
              <span class="user-initials"></span>
          </div>
  
  </body>
</html>
